.custom-navbar {
    position: sticky;
    top: 0;
    background-color: #a8d0f0;
    padding: 10px 30px;
}

.nav-links .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black !important;
    margin-right: 20px;
    font-size: 1.1rem;
}

.logout-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: 2px solid #4f6d7a;
    color: #4f6d7a;
    background-color: transparent;
    transition: all 0.3s ease;
}

.logout-button:hover {
    background-color: #f3c505;
    color: #0e2454;
}

.nav-links .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black !important;
    margin-right: 20px;
    font-size: 1.1rem;
    position: relative;
    transition: all 0.3s ease;
}

/* Hover effect */
.nav-links .nav-link:hover {
    color: #0e2454 !important; 
    text-decoration: underline; 
}

/* Active page effect */
.nav-links .active {
    color: #0474b4 !important; 
    text-decoration: underline;
}
